<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simple">

    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ciZzmcOPLAxrj49RcwUMOUgskNjOueUS"/>
        <provider
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="com.start.head.activity"
            android:name="androidx.core.content.FileProvider">
            <meta-data android:resource="@xml/file_paths"
                android:name="android.support.FILE_PROVIDER_PATHS"/>
        </provider>
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <activity android:name=".activity.LifePayActivity"/>
        <activity android:name=".activity.WisdomBusFourActivity"/>
        <activity android:name=".activity.WisdomBusThreeActivity"/>
        <activity android:name=".activity.WisdomBusTwoActivity"/>
        <activity android:name=".activity.WisdomBusOneActivity"/>
        <activity android:name=".activity.WisdomBusActivity"/>
        <activity android:name=".activity.ParkingRecordActivity"/>
        <activity android:name=".activity.ParkingInfoActivity"/>
        <activity android:name=".activity.ParkingActivity"/>
        <activity android:name=".activity.RegisterInfoActivity"/>
        <activity android:name=".activity.RegisteredActivity"/>
        <activity android:name=".activity.DepartmentActivity"/>
        <activity android:name=".activity.CreateTreatActivity"/>
        <activity android:name=".activity.TreatCardActivity"/>
        <activity android:name=".activity.HospitalInfoActivity"/>
        <activity android:name=".activity.ShowHospitalActivity"/>
        <activity android:name=".activity.ModifyPassWordActivity"/>
        <activity android:name=".activity.PersonInfoActivity"/>
        <activity android:name=".activity.DetailsNewsActivity" />
        <activity android:name=".activity.OrderActivity"/>
        <activity android:name=".activity.OpinionActivity"/>
        <activity android:name=".activity.OrderInfoActivity"/>
        <activity android:name=".activity.MovableActivity"/>
        <activity android:name=".activity.ViolationActivity"/>
        <activity android:name=".activity.ViolationInfoActivity"/>
        <activity android:name=".activity.ViolationDetailsActivity"/>
        <activity android:name=".activity.MovableInfoActivity"/>
        <activity android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.SubwayActivity"/>
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>